<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (Thurs June 6)</h3>
    <h4><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets for Ecologists</a></h4>
    <table class="table table-striped">
      <tr>
	      <td>Before starting</td>
	      <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>1:00 PM</td> <td>Workshop Introduction</td></tr>
      <tr><td>1:30 PM</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/00-intro.html">Intro to Data Organization</a></td></tr>
      <tr><td>2:10 PM</td> <td> Break</td></tr>
	      <tr><td>2:15 PM</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/01-format-data.html">Formatting Data Tables in Spreadsheets</a></td></tr>
	      <tr><td>2:50 PM</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/02-common-mistakes.html">Formatting Problems and Dates as Data</a></td></tr>
      <tr><td>3:25 PM</td> <td> Break</td></tr>
	      <tr><td>3:35 PM</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/04-quality-control.html">Quality Control</a></td></tr>
	       <tr><td>3:50 PM</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/05-exporting-data.html">Exporting Data</a></td></tr>
      <tr> <td>4:30 PM</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (Fri June 7)</h3>
	      <h4><a href='https://datacarpentry.org/R-ecology-lesson-alternative/index.html'>Data Analysis and Visualization in R for Ecologists</a></h4>
    <table class="table table-striped">
      <tr><td>1:00 PM</td> <td>Previous Day Review and Question Session</td></tr>
      <tr><td>1:15 PM</td> <td> <a href="https://datacarpentry.org/R-ecology-lesson-alternative/introduction-r-rstudio.html">Intro to R and R Studio</a></td></tr>
      <tr><td>2:00 PM</td> <td> Break</td></tr>
	    <tr><td>2:10 PM</td> <td> <a href="https://datacarpentry.org/R-ecology-lesson-alternative/visualizing-ggplot.html">Data Visualization with ggplot2</a></td></tr>
      <tr><td>3:45 PM</td> <td> Break</td></tr>
	    <tr><td>3:55 PM</td> <td> Exciting R Use Case Demonstrations!</td></tr>
      <tr><td>4:30 PM</td> <td>END</td> </tr>

    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3 (Mon June 10)</h3>
    <h4>Data Analysis and Visualization in R for Ecologists</h4>
    <table class="table table-striped">
	  <tr><td>1:00 PM</td> <td>Previous Day Review and Question Session</td></tr>
      <tr><td>1:15 PM</td> <td><a href="https://datacarpentry.org/R-ecology-lesson-alternative/how-r-thinks-about-data.html">Exploring and Understanding Data in R</a></td></tr>
      <tr><td>2:20 PM</td> <td> Break</td></tr>
	  <tr><td>2:30 PM</td> <td><a href = "https://datacarpentry.org/R-ecology-lesson-alternative/working-with-data.html">Working with Data</a></td></tr>
      <tr><td>4:20 PM</td> <td> Post Workshop Survey</td></tr>
      <tr><td>4:30 PM</td> <td>END</td> </tr>
    </table>
  </div>
</div>